
switch-events {

}

// Disable the hot corners.
gestures {
    hot-corners {
        off
    }
}


binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs
    Mod+Grave repeat=false hotkey-overlay-title="Open Kitty"   { spawn "kitty"; }
    Mod+Z     repeat=false hotkey-overlay-title="Open Browser" { spawn "zen-browser"; }
    Mod+E     repeat=false hotkey-overlay-title="Open Thunar"  { spawn "thunar"; }
    // Laucher
    Mod+Space repeat=false hotkey-overlay-title="Open Launcher"          { spawn "walker"; }
    Mod+V     repeat=false hotkey-overlay-title="Open Clipboard History" { spawn "walker" "-m" "clipboard"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // Example brightness key mappings for brightnessctl.
    XF86MonBrightnessUp     allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-" "-n9600"; }

    XF86AudioNext   allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPause  allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPlay   allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPrev   allow-when-locked=true { spawn "playerctl" "previous"; }

    // Eww "start" menu
    XF86AudioMedia repeat=false { spawn-sh "$HOME/.config/eww/launch-start"; }
    Shift+XF86AudioMedia repeat=false { spawn-sh "qs --config niri-backdrop ipc call start toggle"; }

    Mod+Q repeat=false { close-window; }
    
    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+Tab repeat=false { toggle-overview; }

    // My mouse's weird button
    Ctrl+Alt+Tab repeat=false { toggle-overview; }

    // Move focus
    Mod+Up    hotkey-overlay-title="Move Focus Up"    { focus-window-or-workspace-up; }
    Mod+Down  hotkey-overlay-title="Move Focus Down"  { focus-window-or-workspace-down; }
    Mod+Left  hotkey-overlay-title="Move Focus Left"  { focus-column-or-monitor-left; }
    Mod+Right hotkey-overlay-title="Move Focus Right" { focus-column-or-monitor-right; }

    // move windows or workspaces when on the overview
    Mod+Shift+Up    hotkey-overlay-title="Move Column Up"    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Down  hotkey-overlay-title="Move Column Down"  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Left  hotkey-overlay-title="Move Column Left"  { move-column-left-or-to-monitor-left; }
    Mod+Shift+Right hotkey-overlay-title="Move Column Right" { move-column-right-or-to-monitor-right; }

    // Jump / move to start / end
    Mod+Home       { focus-column-first; }
    Mod+End        { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    // focus monitors
    Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Down  { focus-monitor-down; }
    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Right { focus-monitor-right; }

    // move windows to monitors
    Mod+Shift+Ctrl+Up    hotkey-overlay-title="Move to Monitor Up"    { spawn-sh "$HOME/.config/scripts/niri_overview_bind.sh move-workspace-up move-window-to-workspace-up"; }
    Mod+Shift+Ctrl+Down  hotkey-overlay-title="Move to Monitor Down"  { spawn-sh "$HOME/.config/scripts/niri_overview_bind.sh move-workspace-down move-window-to-workspace-down"; }
    Mod+Shift+Ctrl+Left  hotkey-overlay-title="Move to Monitor Left"  { spawn-sh "$HOME/.config/scripts/niri_overview_bind.sh move-workspace-to-monitor-left move-window-to-monitor-left"; }
    Mod+Shift+Ctrl+Right hotkey-overlay-title="Move to Monitor Right" { spawn-sh "$HOME/.config/scripts/niri_overview_bind.sh move-workspace-to-monitor-right move-window-to-monitor-right"; }

    // Alternatively, there are commands to move a full column:
    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    // 
    Mod+Page_Down       hotkey-overlay-title=null { focus-workspace-down; }
    Mod+Page_Up         hotkey-overlay-title=null { focus-workspace-up; }
    Mod+Shift+Page_Down hotkey-overlay-title=null { move-window-to-workspace-down; }
    Mod+Shift+Page_Up   hotkey-overlay-title=null { move-window-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    // Mod+Ctrl+Page_Down { move-workspace-down; }
    // Mod+Ctrl+Page_Up   { move-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-window-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-window-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }
    
    // Resize focused column / window
    Mod+D { switch-preset-column-width; }
    Mod+Shift+D { switch-preset-column-width-back; }
    Mod+Ctrl+D { switch-preset-window-height; }
    Mod+Ctrl+Shift+D { reset-window-height; }

    // fullscreen / maximize
    Mod+F { maximize-column; }
    Mod+Shift+F { maximize-window-to-edges; }
    Mod+Shift+Ctrl+F { fullscreen-window; }
    Mod+F11 { fullscreen-window; }
    // Fake fullscreen state
    Mod+Ctrl+F11 { toggle-windowed-fullscreen; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+A { center-column; }
    // Center all fully visible columns on screen.
    Mod+Ctrl+A { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+KP_Subtract { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+KP_Add { set-column-width "+10%"; }
    Mod+Shift+Minus { set-column-width "-5%"; }
    Mod+Shift+KP_Subtract { set-column-width "-5%"; }
    Mod+Shift+Equal { set-column-width "+5%"; }
    Mod+Shift+KP_Add { set-column-width "+5%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Ctrl+Minus { set-window-height "-10%"; }
    Mod+Ctrl+KP_Subtract { set-window-height "-10%"; }
    Mod+Ctrl+Equal { set-window-height "+10%"; }
    Mod+Ctrl+KP_Add { set-window-height "+10%"; }
    Mod+Ctrl+Shift+Minus { set-window-height "-5%"; }
    Mod+Ctrl+Shift+KP_Subtract { set-window-height "-5%"; }
    Mod+Ctrl+Shift+Equal { set-window-height "+5%"; }
    Mod+Ctrl+Shift+KP_Add { set-window-height "+5%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+R       { toggle-window-floating; }
    Mod+Shift+R { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    // Win11 snipping tool shortcut
    Mod+Shift+S { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+T { toggle-window-rule-opacity; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Taskmgr
    Ctrl+Shift+Escape repeat=false hotkey-overlay-title="Open Btop++" { spawn "kitty" "--app-id=btop" "btop"; }
    
    // Copy window info
    Mod+Backslash hotkey-overlay-title=null { spawn "bash" "-c" "wl-copy \"$(niri msg --json focused-window | jq)\""; }
    
    // The quit action will show a confirmation dialog to avoid accidental exits.
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
    
    // Lock screen
    Mod+Shift+L hotkey-overlay-title="Lock Screen" { spawn "hyprlock" "--grace" "3"; }
}
