// request clients use server-side decorations
prefer-no-csd

// Catch all rule
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false

    // dosn't always work ???
    open-maximized-to-edges false
    open-fullscreen false

    // jank to make the toggle opacity hotkey work
    opacity 0.999999

    // prevent windows from being 1px tall, 30px is one row of text in kitty
    min-height 30
    min-width 30
}

// Dynamic rules
// -------------
// https://niri-wm.github.io/niri/Configuration:-Window-Rules#dynamic-properties

// Make inactive windows semitransparent.
window-rule {
    match is-focused=false
    opacity 0.8
}

// This may be a mistake, but "urgent is float"
window-rule {
    match is-urgent=true
    baba-is-float true
}

window-rule {
    match is-floating=true
    tiled-state false

    border {
        active-color "#88c0d0ee" // Frost Bright
        inactive-color "#5e81acaa" // Frost Dark
    }
}

window-rule {
    match is-window-cast-target=true

    border {
        active-color "#da627dee" // Power Pinkish
        inactive-color "#da627daa" // Power Pinkish
    }

    shadow {
        color "#da627d66" // Power Pinkish
    }
}

window-rule {
    match title="^Picture-in-Picture$"
    opacity 1.0
}

// Example: block out two password managers from screen capture.
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^org\.gnome\.seahorse\.Application$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Static rules
// ------------
// https://niri-wm.github.io/niri/Configuration:-Window-Rules#window-opening-properties

// Apps I trust to open at a reasonable size
window-rule {
    match app-id="^kitty$"
    match app-id="^Thunar$"
    match app-id="^xdg-desktop-portal"

    // freedp dose some funky things if it doesn't have control over its size
    match app-id="^xfreerdp$"
    default-column-width { };
}

// Make some app allways open full width
window-rule {
    // GIMP app ID contains the version like "gimp-2.99",
    // so we only match the beginning (with ^) and not the end.
    // match app-id="^gimp"

    match app-id="^zen$"
    match app-id="^factorio$"

    // open at full width but switch to 70% with Mod+F
    open-maximized true
    default-column-width { proportion 0.7; }
}

window-rule {
    match app-id="^firefox$"
    default-column-width { proportion 0.7; }
}

window-rule {
    match app-id=r#"^org\.mozilla\.Thunderbird$"#
    min-width 800 // still kinda small for the main window but fine
}

window-rule {
    match app-id="^btop$"
    min-width 825 // roughly 80 columns in kitty on my laptop
    default-column-width { };
}

window-rule {
    match app-id="^Windscribe"
    max-width 350
    max-height 350
    draw-border-with-background true
}

window-rule {
    match title="^Polkit Agent$"

    open-floating true
    open-focused true

    // for dev purposes
    // open-on-output "eDP-1"
}

window-rule {
    match app-id="^sddm-greeter"

    open-fullscreen true
}

// Layer rules
// -----------
// https://niri-wm.github.io/niri/Configuration:-Layer-Rules

// Make the wallpaper stationary, rather than moving with workspaces.
layer-rule {
    // Find the right namespace by running niri msg layers.
    match namespace="^wallpaper$"
    // quickshell windows
    match namespace="^backdrop"

    place-within-backdrop true
}

layer-rule {
    match namespace="^unicode$"
    
    shadow {
        on
    }
}
