[Unit]
Description=Deja - Predictive inline shell autosuggestions for zsh

[Service]
Type=simple
ExecStart=/usr/bin/deja daemon
Restart=on-failure

[Install]
WantedBy=default.target
