[Unit]
Description=Quickshell daemon with config dir $XDG_CONFIG_HOME/quickshell/%i/
PartOf=graphical-session.target
After=graphical-session.target pipewire.service pipewire-session-manager.service
Requisite=graphical-session.target
AssertPathExists=%E/quickshell/%i/shell.qml

[Service]
Type=exec
Environment="QT_QPA_PLATFORM=wayland" "QT_QPA_PLATFORMTHEME=gtk3"
ExecStart=qs --no-duplicate --config %i
Restart=on-failure
