[Unit]
Description=rmpcd: MPRIS, lyrics, and more for mpd
Requires=mpd.service
After=mpd.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=dbus
BusName=org.mpris.MediaPlayer2.mpd
ExecStart=/usr/bin/rmpcd
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
