[Unit]
Description=Solaar
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=dbus
BusName=io.github.pwr_solaar.solaar
ExecStart=solaar -b solaar -w hide
Restart=on-failure

[Install]
WantedBy=graphical-session.target
