
[Unit]
Description=Thunderbird
After=network.target graphical-session.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
ExecStart=thunderbird --headless
StandardError=null
Restart=always
RestartSec=30s

[Install]
WantedBy=graphical-session.target
